body
{
    background-color: #EEE;
    font-family: 'Lucida Grande';
}
a
{
text-decoration: none;
color: red;
}
#container
{
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

#header
{
    background-color: #66CCFF;
    color: white;
    text-align: center;

}


#logos
{
    background-color: orange;
    color: black;
    text-align: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}


#info
{
    background-color: orange;
    color: black;
    text-align: right;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}



#content
{
    padding: 10px;

}

#nav
{
    width: 180px;
    float: left;
    background-color: #F5CBA7;
}
img {
    display: block;
    max-width: 75%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
#nav .selected
{
font-weight: bold;
}
#nav ul {
    list-style-type: none; 
    padding:10px;
}

h1,h2,h2{
    margin:0;
}



#main1
{
   width: 100%;
    float: left;
}


#footer
{
    clear: both;
    margin-top: 10px;
    padding: 10px;
    background-color: gray;
    color: white;
    text-align:  right;
}